/* Google Font Raleway (100 & 400) */
@import url(http://fonts.googleapis.com/css?family=Raleway:600,400,100);

.ralelight{font-family: 'Raleway', arial , sans-serif;font-weight: 100;}
.ralenormal{font-family: 'Raleway', arial , sans-serif;font-weight: 400;}
.ralebold{font-family: 'Raleway', arial , sans-serif;font-weight:600;}