/* =============================================================================
	Media Query Tablets
   ========================================================================== */
@media screen and (max-width: 860px) {
  /* General Settings
  =============================*/
  html,
  body {
    background: #cccccc !important;
    -webkit-background-size: none;
    -moz-background-size: none;
    -o-background-size: none;
    background-size: none; }

  /* =============================================================================
  	Container
     ========================================================================== */
  .container {
    width: 100%; }

  /* =============================================================================
  	Side Bar
     ========================================================================== */
  .sideBar {
    width: 70px;
    height: 100% !important;
    position: fixed;
    /* Logo Tablet */
    /* Text Active Bar Tablet */ }
    .sideBar .logoarea {
      width: 70px;
      height: 168px; }
      .sideBar .logoarea .logo a h1 {
        background: url("../img/logo-mobile.png") 50% 50% no-repeat;
        background-size: 90%; }
    .sideBar #textActiveBar {
      display: none; }

  /* Link Up
  -------------------------*/
  /* =============================================================================
  	Header 
     ========================================================================== */
  .header {
    margin: 0 0 0 70px; }

  /* =============================================================================
  	Content
     ========================================================================== */
  .content {
    width: 620px;
    margin: 19px 0 0 90px;
    overflow: hidden;
    /* Search Bar
    -------------------------*/
    	/* =============================================================================
    	   STORE
       	   ========================================================================== */
    /* =============================================================================
    	SHOWS
       ========================================================================== */
    /* =============================================================================
    	ABOUT
       ========================================================================== */ }
    .content .searchBar {
      width: 140px;
      height: 70px; }
      .content .searchBar .searchForm {
        width: 140px;
        height: 70px; }
        .content .searchBar .searchForm .searchInput {
          width: 140px;
          padding: 0 40px 0 10px; }
        .content .searchBar .searchForm .searchIcon {
          padding: 0px 25px 0 25px; }
    .content #store .productsListMainArea {
      /* Product Area */ }
      .content #store .productsListMainArea .productsArea {
        /* Single Product Page */ }
        .content #store .productsListMainArea .productsArea .allProducts li {
          width: 300px;
          height: 300px; }
          .content #store .productsListMainArea .productsArea .allProducts li .productInfo .imgProduct {
            width: 300px;
            height: 300px; }
          .content #store .productsListMainArea .productsArea .allProducts li .productInfo .productBottomBar {
            width: 300px;
            height: 45px; }
            .content #store .productsListMainArea .productsArea .allProducts li .productInfo .productBottomBar .productName {
              width: 235px;
              height: inherit; }
        .content #store .productsListMainArea .productsArea .singleProductContainer {
          /* Product Info Single Page */ }
          .content #store .productsListMainArea .productsArea .singleProductContainer .singleProduct .productBig {
            width: 350px;
            height: 350px; }
          .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage {
            width: 250px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer .productTitle {
              font-size: 20px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer .productPrice {
              margin: 20px 0 20px 33px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer .info {
              font-size: 11px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer ul li .size {
              width: 135px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer ul li .qty {
              width: 50px; }
            .content #store .productsListMainArea .productsArea .singleProductContainer .productInfoSinglePage .infoContainer .addCartSpace {
              width: inherit;
              display: block;
              margin: 0 20%; }
    .content #shows .showlist li .date {
      width: 110px;
      height: 110px; }
      .content #shows .showlist li .date .dateContainer {
        padding: 20px 0; }
      .content #shows .showlist li .date .month {
        font-size: 30px; }
      .content #shows .showlist li .date .day {
        font-size: 50px; }
    .content #shows .showlist li .place {
      width: 485px;
      height: 110px;
      margin: 0 0 0 20px; }
      .content #shows .showlist li .place .namePlace {
        font-size: 25px;
        margin: 0 0 0 30px;
        line-height: 110px; }
      .content #shows .showlist li .place .button {
        width: 110px;
        height: 110px; }
        .content #shows .showlist li .place .button a {
          width: inherit;
          height: 110px;
          line-height: 160px; }
          .content #shows .showlist li .place .button a img {
            width: 20%;
            height: 50%; }
    .content #about .aboutContainer .aboutTitle {
      font-size: 25px; }
    .content #about .aboutContainer .aboutImage {
      width: inherit; } }
@media screen and (max-width: 725px) {
  /* General Settings
  =============================*/
  html,
  body {
    background: #cccccc !important;
    -webkit-background-size: none;
    -moz-background-size: none;
    -o-background-size: none;
    background-size: none; }

  .visible {
    display: block; }

  .novisible {
    display: none; }

  /* =============================================================================
  	Header
     ========================================================================== */
  .header {
    display: none; }

  /* Mobile Nav
  -------------------------*/
  .mobileNav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    background: url("../img/bar-bg-active-black.png") repeat; }
    .mobileNav:before {
      content: "";
      width: 100%;
      height: 50px;
      bottom: 0;
      left: 0;
      display: block;
      position: absolute;
      background: url("../img/logo-mobile-phone.png") no-repeat center; }
    .mobileNav .home, .mobileNav .toggle {
      width: 50px;
      height: 50px;
      position: relative;
      z-index: 101; }
      .mobileNav .home a, .mobileNav .toggle a {
        display: block;
        width: 100%;
        height: 50px;
        cursor: pointer; }
        .mobileNav .home a:hover, .mobileNav .home a:active, .mobileNav .toggle a:hover, .mobileNav .toggle a:active {
          background: url("../img/bar-bg-active-black.png") repeat; }
      .mobileNav .home .active, .mobileNav .toggle .active {
        background: url("../img/bar-bg-active-black.png") repeat; }
    .mobileNav .home {
      float: left; }
    .mobileNav .toggle {
      float: right; }

  /* =============================================================================
  	Content
     ========================================================================== */
  .content {
    width: 100%;
    margin: 0;
    padding: 49px 0 0 0;
    /* =============================================================================
    	SHOWS
       ========================================================================== */ }
    .content .searchBar {
      display: none; }
    .content #home {
      padding-top: 50px; }
      .content #home .bloglist {
        width: 50%;
        /* Social Sub Nav
        -------------------------*/ }
        .content #home .bloglist .socialFeedBar {
          width: 100%;
          height: 50px;
          position: fixed;
          top: 49px;
          left: 0;
          z-index: 100;
          text-align: center;
          background: url("../img/bar-bg-active.png") repeat;
          line-height: 50px;
          color: white; }
          .content #home .bloglist .socialFeedBar ul {
            width: 307px;
            height: 50px;
            margin: 0 auto; }
            .content #home .bloglist .socialFeedBar ul .socialIcon {
              display: block;
              width: 50px;
              height: 50px; }
              .content #home .bloglist .socialFeedBar ul .socialIcon a {
                width: 100%; }
                .content #home .bloglist .socialFeedBar ul .socialIcon a img {
                  width: 35%;
                  height: auto;
                  padding: 15px 0 0 0; }
            .content #home .bloglist .socialFeedBar ul .all {
              background: url(../img/media-icon-view-all-phone.png) center no-repeat; }
            .content #home .bloglist .socialFeedBar ul .blog {
              background: url(../img/media-icon-blog-phone.png) center no-repeat; }
            .content #home .bloglist .socialFeedBar ul .facebook {
              background: url(../img/media-icon-facebook-phone.png) center no-repeat; }
            .content #home .bloglist .socialFeedBar ul .twitter {
              background: url(../img/media-icon-twitter-phone.png) center no-repeat; }
            .content #home .bloglist .socialFeedBar ul .instagram {
              background: url(../img/media-icon-instagram-phone.png) center no-repeat; }
            .content #home .bloglist .socialFeedBar ul .rss {
              background: url(../img/media-icon-rss-phone.png) center no-repeat; }
        .content #home .bloglist .socialFeedArea {
          width: 100%;
          padding: 0; }
          .content #home .bloglist .socialFeedArea ul {
            width: 95%;
            padding: 0 2.5% 0 2.5%; }
    .content #shows {
      width: 200%; }
      .content #shows .showlist {
        width: 48%;
        padding: 1%; }
        .content #shows .showlist li {
          width: 100%;
          height: 80px;
          position: relative; }
          .content #shows .showlist li .date {
            width: 80px;
            height: 80px; }
            .content #shows .showlist li .date .dateContainer {
              padding: 9px 0 0 0; }
            .content #shows .showlist li .date .month {
              font-size: 1.2em; }
            .content #shows .showlist li .date .day {
              line-height: 12px;
              font-size: 2.4em; }
          .content #shows .showlist li .place {
            width: 77.83900%;
            height: 80px;
            margin: 0 0 0;
            font-size: 120%;
            position: absolute;
            left: 90;
            bottom: 0;
            overflow: hidden; }
            .content #shows .showlist li .place .namePlace {
              font-size: 120%;
              margin: 0 10px 0 10px;
              line-height: 80px; }
            .content #shows .showlist li .place .button {
              width: 80px;
              height: 65px;
              padding: 15px 0 0 0;
              position: absolute;
              top: 0;
              right: 0; }
              .content #shows .showlist li .place .button a {
                width: inherit;
                height: 80px;
                line-height: 80px; }
              .content #shows .showlist li .place .button img {
                width: 20%;
                height: 70%; }

  /* =============================================================================
  	Side Bar
     ========================================================================== */
  .sideBar {
    font-size: 80%;
    width: 80% !important;
    position: fixed;
    top: 0;
    left: -90%;
    z-index: 999;
    /* ease-out */
    -webkit-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
    /* Logo Tablet */
    /* Search Bar
    -------------------------*/
    /* Navigation Bar
    -------------------------*/ }
    .sideBar .logoarea {
      display: none; }
    .sideBar .searchBar {
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0;
      clear: both; }
      .sideBar .searchBar .searchForm {
        width: 100%;
        height: 50px;
        margin: 0; }
        .sideBar .searchBar .searchForm .searchInput {
          width: 100%;
          padding: 0 2.5% 0 2.5%;
          background: #363636; }
          .sideBar .searchBar .searchForm .searchInput:focus {
            outline: none;
            border-color: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none; }
        .sideBar .searchBar .searchForm .searchIcon {
          padding: 0px 25px 0 25px;
          border-radius: none;
          background-color: #363636; }
    .sideBar .navBar {
      width: 90%;
      padding: 5%;
      color: #fff;
      background: #252525; }
      .sideBar .navBar p {
        margin: 25px 0 10px 0; }
      .sideBar .navBar ul {
        width: 100%;
        padding: 0;
        margin: 65px 0 0 0;
        /* Divider for nav Bar */ }
        .sideBar .navBar ul .navButton {
          height: 45px;
          line-height: 45px; }
        .sideBar .navBar ul li {
          width: inherit;
          list-style-type: none; }
          .sideBar .navBar ul li:active {
            cursor: pointer;
            background: #141414; }
          .sideBar .navBar ul li:last-child {
            display: none;
            border: none; }
          .sideBar .navBar ul li a {
            font-size: 13px;
            display: block;
            width: 100%;
            text-align: left;
            text-indent: 0; }
          .sideBar .navBar ul li .home, .sideBar .navBar ul li .store, .sideBar .navBar ul li .shows,
          .sideBar .navBar ul li .about, .sideBar .navBar ul li .subscribe {
            background: none; }
        .sideBar .navBar ul .divider {
          height: 0;
          padding: 0;
          opacity: 0.3;
          display: block;
          list-style: none;
          border-top: 1px solid;
          border-top-color: #858585; }
        .sideBar .navBar ul .activeNav {
          background: none; } }
