/* =============================================================================
	Media Query Tablets
   ========================================================================== */
@media screen and (max-width: 860px) {

	/* General Settings
	=============================*/
	// html,body{overflow-y:hidden; }

	/* =============================================================================
		Container
	   ========================================================================== */
	.container{
		width: 100%;
		// overflow: hidden;
	}	
	/* =============================================================================
		Side Bar
	   ========================================================================== */
	.sideBar{
		width: 70px; height: 100%!important;
		position: fixed;

		/* Logo Tablet */
		.logoarea{
			width: 70px; height: 168px;
			.logo{
				a{
					h1{
						background:url('../img/logo-mobile.png') 50% 50% no-repeat;
						background-size: 90%;
					}
				}
			}
		}

		/* Text Active Bar Tablet */
		#textActiveBar{
			display: none;
		}
	}
	/* Link Up
	-------------------------*/
	.linkUp{
		// bottom: 10px;
	}
	/* =============================================================================
		Header 
	   ========================================================================== */
	.header{
		margin:0 0 0 70px;
	}
	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		width: 620px;
		margin: 19px 0 0 90px;
		overflow: hidden;
		// background: orange;

		/* Search Bar
		-------------------------*/
		.searchBar{
			width: 140px; height: 70px;

			.searchForm{
				width: 140px; height: 70px;
				.searchInput{
					width: 140px;
					padding: 0 40px 0 10px;
				}
				.searchIcon{
					padding: 0px 25px 0 25px;
				}
			}
		}

		/* =============================================================================
		   STORE
	   	   ========================================================================== */
   	   	#store{
			.productsListMainArea{

				/* Product Area */
				.productsArea{
					.allProducts{
						li{
							width: 300px; height: 300px;
							.productInfo{
								.imgProduct{
									width: 300px; height: 300px;
								}
								.productBottomBar{
									width: 300px; height: 45px;
									.productName{
										width: 235px; height: inherit;
									}
								}
							}
						}
					}

					/* Single Product Page */
					.singleProductContainer{
						.singleProduct{
							.productBig{
								width: 350px; height: 350px;
							}
						}

						/* Product Info Single Page */
						.productInfoSinglePage{
							width: 250px;
							.infoContainer{
								// width: inherit;
								.productTitle{font-size: 20px;}
								.productPrice{margin: 20px 0 20px 33px;}
								.info{font-size: 11px;}
								ul{
									li{
										.size{
											width: 135px;
										}
										.qty{
											width: 50px;
										}
									}
								}
								.addCartSpace{
									width: inherit;
									display: block;
									margin: 0 20%;
									.addToCart{
									}
								}
							}
						}
					}
				}
			}
		}
		/* =============================================================================
			SHOWS
		   ========================================================================== */
		#shows{   
			.showlist{
				li{
					.date{
						width: 110px; height: 110px;
						.dateContainer{
							padding: 20px 0;
						}
						.month{font-size: 30px;}
						.day{font-size: 50px;}
					}
					.place{
						width: 485px; height: 110px;
						margin: 0 0 0 20px;
						.namePlace{
							font-size: 25px;
							margin: 0 0 0 30px;
							line-height: 110px;
						}
						.button{
							width: 110px; height: 110px;
							a{
							width: inherit; height: 110px;
							line-height: 160px;
							img{
								width: 20%; height: 50%;
								}
							}
						}
					}
				}
			}
		}
		/* =============================================================================
			ABOUT
		   ========================================================================== */
	    #about{
	    	.aboutContainer{
	    		width: 580px;
	    		.aboutTitle{
	    			font-size: 25px;
	    		}
	    		.aboutImage{
					width: inherit;
	    		}
	    		
	    	}
	    }

	}// End Content
} // End Media Query Tablets

@media screen and (max-width: 725px) {

	.visible{
		display: block;
	}

	.novisible{
		display: none;
	}

	/* =============================================================================
		Header
	   ========================================================================== */
	.header{
		display: none;
	}

	/* Mobile Nav
	-------------------------*/
	.mobileNav{
		width: 100%;
		height: 50px;
		position: fixed;
		text-align: center;
		z-index: 100;
		background: url('../img/bar-bg-active-black.png') repeat;

		&:before {
			content: "";
			width: 100%; height: 50px;
			bottom: 0; left: 0;
			display: block;
			position: absolute;
			background: url('../img/logo-mobile-phone.png') no-repeat center;
		}
		
		.home, .toggle{
			width: 50px;
			height: 50px;
			position: relative;
			z-index: 101;
			a{
				display: block;
				width: 100%;
				height: 50px;
				cursor: pointer;

				&:hover, &:active{
					background: url('../img/bar-bg-active-black.png') repeat;
				}
			}

			.active{
				background: url('../img/bar-bg-active-black.png') repeat;
			}
		}

		.home{ float: left; }
		.toggle{ float: right; }
	}


	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		width: 100%;
		margin: 0; padding: 50px 0 0 0;

		.searchBar{
			display:none;
		}

		#home{
			.bloglist{
				width: 50%;
				/* Social Sub Nav
				-------------------------*/
				.socialFeedBar{
					width:100%;
					height: 50px;
					position: fixed;
					z-index: 100;
					text-align: center;
					background: url('../img/bar-bg-active.png') repeat;
					line-height: 50px;
					color: white;

					ul{
						width: 307px;
						height: 50px;
						margin: 0 auto;
						.socialIcon{
							display: block;
							width: 50px;
							height: 50px;
							a{
								width: 100%;
								img{
									width: 35%;
									height: auto;
									padding: 15px 0 0 0;
								}
							}
						}
						.all      { background: url(../img/media-icon-view-all-phone.png) center no-repeat; }
						.blog     { background: url(../img/media-icon-blog-phone.png) center no-repeat; }
						.facebook { background: url(../img/media-icon-facebook-phone.png) center no-repeat; }
						.twitter  { background: url(../img/media-icon-twitter-phone.png) center no-repeat; }
						.instagram{ background: url(../img/media-icon-instagram-phone.png) center no-repeat; }
						.rss      { background: url(../img/media-icon-rss-phone.png) center no-repeat; }
					}
				}

				.socialFeedArea{
					width: 100%;
					padding: 40px 0 0 0;

					ul{
						width: 95%;
						padding: 0 2.5% 0 2.5%;
					}
				}
			}
		}
	}


	/* =============================================================================
		Side Bar
	   ========================================================================== */
	.sideBar{
		font-size: 80%;
		width: 80%!important;
		position: fixed;
		top: 0;
		left: -80%;
		z-index: 999;
		-webkit-box-shadow:  5px 0px 15px 5px rgba(0, 0, 0, .5);
        		box-shadow:  5px 0px 15px 5px rgba(0, 0, 0, .5);

        /* ease-out */
		-webkit-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		   -moz-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		    -ms-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		     -o-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		        transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);

		/* Logo Tablet */
		.logoarea{
			display: none;
		}

		/* Search Bar
		-------------------------*/
		.searchBar{
			width: 100%; height: 50px;
			margin: 0; padding: 0;
			clear: both;

			.searchForm{
				width: 100%; height: 50px;
				margin: 0;

				.searchInput{
					width: 100%;
					padding: 0 2.5% 0 2.5%;
					background: #363636;

					&:focus{
						outline: none;
					    border-color: none;
					   	-webkit-box-shadow: none;
				           -moz-box-shadow: none;
					    	    box-shadow: none;
					}
				}

				.searchIcon{
					padding: 0px 25px 0 25px;
					border-radius: none;
					background-color: #363636;
				}
			}
		}

		/* Navigation Bar
		-------------------------*/
		.navBar{
			width: 90%;
			padding: 5%;
			color: #9e9e9e;
			background: #252525;

			p{ margin: 25px 0 10px 0; }

			ul{
				width: 100%;
				padding:0; margin:65px 0 0 0;

				.navButton{
					height: 45px;
					line-height: 45px;
				}
				li{
					width: inherit;
					list-style-type: none;

					&:active {
						cursor: pointer;
						background: #141414
					}

					&:last-child{
						display: none;
						border: none;
					}

					a{
						font-size: 13px;
						display: block;
						width: 100%;
						text-align: left;
						text-indent: 0;
					}

					.home, .store, .shows,
					.about, .subscribe{
						background: none;
					}
				}

				/* Divider for nav Bar */
				.divider{
					height: 0;
					padding: 0;
					opacity: 0.3;
					display: block;
					list-style: none;
					border-top: 1px solid;
					border-top-color: #858585;
				}
				.activeNav{
					background: none;
				}
			}
		}
	}
}