/* SASS Settings -- Delete this title when done ediitng
=============================*/  

/* Background */
$background:url('../img/bar-bg-active.png') repeat;
$backgroundRed:url('../img/bar-bg-active-red.png') repeat;
$backgroundBlack:url('../img/bar-bg-active-black.png') repeat;
$backgroundYellow:url('../img/bar-bg-active-green.png') repeat;
$backgroundBlue:url('../img/bar-bg-active-blue.png') repeat;
$backgroundOrange:url('../img/bar-bg-active-orange.png') repeat;
$mainGreen : #9fa326;
$mainOrange: #dc8d40;
$mainred   : #841212;

/* Font Color */ 
$fc-white: #efefef;
$fc-grey: #555555;

/* Line Color */
$lc-white: #858585;

/* Background Colors */
$bcRed:#841212;
$bcGray: #575757;

$leftIm:left!important;

/*==========================*/
/*							*/
/***	  MEDIA QUERY     ***/
/***		 860px        ***/
/*							*/
/*==========================*/

@media screen and (max-width: 860px) {

	/* General Settings
	=============================*/
	html,
	body {
		background: #cccccc!important;
		-webkit-background-size: none;
		-moz-background-size: none;
		-o-background-size: none;
		background-size: none;
		// overflow: hidden; /* Removed on live */
	}

	/* =============================================================================
		Container
	   ========================================================================== */
	.container{
		width: 100%;
		// overflow: hidden; /* Removed on live */
	}	
	/* =============================================================================
		Side Bar
	   ========================================================================== */
	.sideBar{
		width: 70px; height: 100%!important;
		position: fixed;

		/* Logo Tablet */
		.logoarea{
			width: 70px; height: 168px;
			.logo{
				a{
					h1{
						background:url('../img/logo-mobile.png') 50% 50% no-repeat;
						background-size: 90%;
					}
				}
			}
		}

		/* Text Active Bar Tablet */
		#textActiveBar{
			display: none;
		}
	}
	/* Link Up
	-------------------------*/
	.linkUp{
		// bottom: 10px;
	}
	/* =============================================================================
		Header 
	   ========================================================================== */
	.header{
		margin:0 0 0 70px;
	}
	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		width: 620px;
		margin: 19px 0 0 90px;
		overflow: hidden;

		/* Search Bar
		-------------------------*/
		.searchBar{
			width: 140px; height: 70px;

			.searchForm{
				width: 140px; height: 70px;
				.searchInput{
					width: 140px;
					padding: 0 40px 0 10px;
				}
				.searchIcon{
					padding: 0px 25px 0 25px;
				}
			}
		}

		/* =============================================================================
		   STORE
	  ========================================================================== */
   	#store{
   		/* Shop Sub Nav
			-------------------------*/
			.shopBar{
				ul{	
					.standarBack{
						width: 30.318535%;
						margin: 0; padding: 0;
					}				
				}
			}

			.productsListMainArea{

				/* Product Area */
				.productsArea{
					.allProducts{
						li{
							width: 300px; height: 300px;
							.productInfo{
								.imgProduct{
									width: 300px; height: 300px;
								}
								.productMeta{
									.productBottomBar{
										width: 100%; height: 45px;
										.productName{
											width: 235px; height: inherit;
										}
									}
								}
							}
						}
					}

					/* Single Product Page */
					.singleProductContainer{
						.singleProduct{
							width: 350px;
							.productBig{
								width: 350px; height: 350px;
							}
						}

						/* Product Info Single Page */
						.productInfoSinglePage{
							width: 250px;
							.infoContainer{
								// width: inherit;
								.productTitle{font-size: 20px;}
								.productPrice{margin: 20px 0 20px 33px;}
								.info{font-size: 11px;}
								ul{
									li{
										.size{
											width: 135px;
										}
										.qty{
											width: 50px;
										}
									}
								}
								.addCartSpace{
									width: inherit;
									display: block;
									margin: 0 20%;
								}
							}
						}
					}
				}
			}
		}
		/* =============================================================================
			SHOWS
		   ========================================================================== */
		#shows{   
			.showlist{
				li{
					.date{
						width: 110px; height: 110px;
						.dateContainer{
							padding: 20px 0;
						}
						.month{font-size: 30px;}
						.day{font-size: 50px;}
					}
					.place{
						width: 485px; height: 110px;
						margin: 0 0 0 20px;
						.namePlace{
							font-size: 25px;
							margin: 0 0 0 30px;
							line-height: 110px;
						}
						.button{
							width: 110px; height: 110px;
							img{
								width: 20%; height: 50%;
								padding: 25% 0;
							}
						}
					}
				}
			}
		}
		/* =============================================================================
			ABOUT
		   ========================================================================== */
	    #about, #blogsingle, #showsingle{
	    	.aboutContainer{
	    		.aboutTitle{
	    			font-size: 25px;
	    		}
	    		.aboutImage{
					width: 100%;
	    		}
	    		
	    	}
	    }

	}// End Content
} // End Media Query Tablets

/*==========================*/
/*							*/
/***	  MEDIA QUERY     ***/
/***		 725px        ***/
/*							*/
/*==========================*/

@media screen and (max-width: 725px) {

	/* General Settings
	=============================*/
	html,
	body {
		background: #cccccc!important;
		-webkit-background-size: none;
		-moz-background-size: none;
		-o-background-size: none;
		background-size: none;
	}

	/* Visible Elements */
	.visible  { display: block; }
	.novisible{ display: none;  }

	.dividerVertical {
		height: 50px;
	}

	/* =============================================================================
		Header
	   ========================================================================== */
	.header{
		display: none;
	}

	/* Mobile Nav
	-------------------------*/
	.mobileNav{
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 100;
		background: url('../img/bar-bg-active-black.png') repeat;

		&:before {
			content: "";
			width: 100%; height: 50px;
			bottom: 0; left: 0;
			display: block;
			position: absolute;
			background: url('../img/logo-mobile-phone.png') no-repeat center;
		}
		
		.home, .toggle{
			width: 50px;
			height: 50px;
			position: relative;
			z-index: 101;
			a{
				display: block;
				width: 100%;
				height: 50px;
				cursor: pointer;

				&:hover, &:active{
					background: url('../img/bar-bg-active-black.png') repeat;
				}
			}

			.active{
				background: url('../img/bar-bg-active-black.png') repeat;
			}
		}

		.home{ float: left; }
		.toggle{ float: right; }
	}


	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		width: 100%;
		margin: 0; padding: 49px 0 0 0;

		.searchBar{
			display:none;
		}

		#home{
			padding-top: 50px;
			.bloglist{
				width: 50%;
				/* Social Sub Nav
				-------------------------*/
				.socialFeedBar{
					width: 100%;
					height: 50px;
					position: fixed;
					top: 50px;
					left: 0;
					z-index: 100;
					text-align: center;
					background: url('../img/bar-bg-active.png') repeat;
					line-height: 50px;
					color: white;

					ul{
						width: 307px;
						height: 50px;
						margin: 0 auto;
						.socialIcon{
							display: block;
							width: 50px;
							height: 50px;
							a{
								display: block;
								width: 100%;
								height: 100%;
								text-indent: -999em;
								img{
									width: 35%;
									height: auto;
									padding: 15px 0 0 0;
								}
							}
						}
						.all      { background: url(../img/media-icon-view-all-phone.png) center no-repeat; }
						.blog     { background: url(../img/media-icon-blog-phone.png) center no-repeat; }
						.facebook { background: url(../img/media-icon-facebook-phone.png) center no-repeat; }
						.twitter  { background: url(../img/media-icon-twitter-phone.png) center no-repeat; }
						.instagram{ background: url(../img/media-icon-instagram-phone.png) center no-repeat; }
						.rss      { background: url(../img/media-icon-rss-phone.png) center no-repeat; }
					}
				}

				.socialFeedArea{
					width: 100%;
					padding: 0;

					ul{
						min-width: 0%;
						margin: 0 auto;
						padding: 0 0 0 0;
					}
				}
			}
		}
		/* =============================================================================
			   STORE
		   ========================================================================== */
	   	#store{
	   		/* Shop Sub Nav
				-------------------------*/
				.shopBar{
					width: 100%;
					ul{	
						width: 100%; height: 70px;
						.standarBack{
							width: 30.278319%;
						}						
					}
				} 		

				/* Products List Area
				-------------------------*/
				.productsListMainArea{
					padding: 20px;
					/* Product Tree */
					.productTree{
						margin-left: 1%;
					}
					/* Product Area */
					.productsArea{
						margin: 20px 0 0 0;
						.allProducts{
							li{
								.productInfo{
									.productMeta{
										.productBottomBar{
											.productName{
												width: 82%;
												padding: 0;
												text-indent: 15px;
											}
										}
									}
								}
							}
						}
					}
				}
	   	}
		/* =============================================================================
			SHOWS
		   ========================================================================== */
		#shows{
			width: 200%;
			.showlist{
				width: 48%;
				padding: 1%;
				li{
					width: 100%;
					height: 80px;
					margin-bottom: 2%;
					position: relative;
					background: url('../img/bar-bg-active.png') repeat;
					.date{
						width: 80px; height: 80px;
						.dateContainer{
							padding: 9px 0 0 0;
						}
						.month{font-size: 1.2em;}
						.day{
							line-height: 12px;
							font-size: 2.4em;
						}
					}
					.place{
						height: 80px;
						margin: 0;
						font-size: 120%;
						position: absolute;
						left: 90;
						bottom: 0;
						overflow: hidden;
						background: none;
						.namePlace{
							font-size: 120%;
							margin: 0 10px 0 10px;
							line-height: 80px;
						}
						.button{ display: none; }
					}
				}
			}
		}
		/* =============================================================================
			NEWSLETTER
		   ========================================================================== */
		#subscribe{
			width: 100%;
		}
	}


	/* =============================================================================
		Side Bar
	   ========================================================================== */
	.sideBar{
		font-size: 80%;
		width: 80%!important;
		position: fixed;
		top: 0;
		left: -90%;
		z-index: 999;

        /* ease-out */
		-webkit-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		   -moz-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		    -ms-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		     -o-transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		        transition: all 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);

		/* Logo Tablet */
		.logoarea{
			display: none;
		}

		/* Search Bar
		-------------------------*/
		.searchBar{
			width: 100%; height: 50px;
			margin: 0; padding: 0;
			clear: both;

			.searchForm{
				width: 100%; height: 50px;
				margin: 0;

				.searchInput{
					color: #efefef;
					width: 100%;
					padding: 0 2.5% 0 2.5%;
					background: #363636;

					&:focus{
						outline: none;
					    border-color: none;
					   	-webkit-box-shadow: none;
				           -moz-box-shadow: none;
					    	    box-shadow: none;
					}
				}

				.searchIcon{
					padding: 0px 25px 0 25px;
					border-radius: none;
					background-color: #363636;
				}
			}
		}

		/* Navigation Bar
		-------------------------*/
		.navBar{
			width: 90%;
			padding: 5%;
			color: #fff;
			background: #252525;

			p{ margin: 25px 0 10px 0; }

			ul{
				width: 100%;
				padding:0; margin:65px 0 0 0;

				.navButton{
					height: 45px;
					line-height: 45px;
				}
				li{
					width: inherit;
					list-style-type: none;

					&:active {
						cursor: pointer;
						background: #141414
					}

					&:last-child{
						display: none;
						border: none;
					}

					a{
						font-size: 13px;
						display: block;
						width: 100%;
						text-align: left;
						text-indent: 0;
					}

					.home, .store, .shows,
					.about, .subscribe{
						background: none;
					}
				}

				/* Divider for nav Bar */
				.divider{
					height: 0;
					padding: 0;
					opacity: 0.3;
					display: block;
					list-style: none;
					border-top: 1px solid;
					border-top-color: #858585;
				}
				.activeNav{
					background: none;
				}
			}
		}
	}
}

/*==========================*/
/*							*/
/***	  MEDIA QUERY     ***/
/***		 620px        ***/
/*							*/
/*==========================*/

@media screen and (max-width: 620px) {
	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		/* =============================================================================
			   STORE
		   ========================================================================== */
	   	#store{
			.productsListMainArea{

				/* Product Area */
				.productsArea{
					.allProducts{
						width: 100%;
						margin: 0 auto;
						li{
							width: 250px; height: 250px;
							.productInfo{
								.imgProduct{
									width: 250px; height: 250px;
								}
								.productBottomBar{
									width: 250px; height: 45px;
									.productName{
										width: 185px; height: inherit;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*==========================*/
/*							*/
/***	  MEDIA QUERY     ***/
/***		 325px        ***/
/*							*/
/*==========================*/

@media screen and (max-width: 360px) {
	/* =============================================================================
		Content
	   ========================================================================== */
	.content{
		#home{
			.bloglist{
				.socialFeedArea{
					ul{
						min-width: 105%!important;
						padding: 0 0 0 10px;
					}
				}
			}
		}
		/* =============================================================================
		   STORE
 	   ========================================================================== */
	   	#store{		
			.productsListMainArea{
				width: 90%;
				padding: 5%;
				margin:0;

				.productTree{
					margin:0;
				}

				/* Product Area */
				.productsArea{
					width: 100%;
					.allProducts{
						li{
							float: none;
							width: 100%;
							margin: 0 20px 0 0;
							.productInfo{
								.productMeta{
									.productBottomBar{
										.productName{
											width: 84.38042%;
										}
									}
								}
							}
						}
						.oddItem{
							width: 100%;
							margin: 0 0 20px 0;
						}
					}
					.singleProductContainer{
						width: 100%;
						.singleProduct{
							width: 100%; height: auto;
							margin: 0;
							.productBig{
								width: 100%;
								margin: 0 0 80px 0;
								li{
									a{
										img{
											height: auto;
										}
									}
								}
							}
						}
						.productInfoSinglePage{
							width: 100%;
						}
					}
				}
			}
		}
		/* =============================================================================
			SHOWS
		   ========================================================================== */
		#shows{
			.showlist{
				li{
					.place{
						width: 74.839%;
						.namePlace{
							font-size: 100%;
						}
						.button{
							display: none;
						}
					}
				}
			}
		}
		/* =============================================================================
			ABOUT
		   ========================================================================== */
	    #about, #blogsingle, #showsingle{
	    	.aboutContainer{
	    		.aboutTitle{
	    			font-size: 20px;
	    			min-height: 100%;
	    		}
	    		.aboutText{
	    			.columText{
						width: 100%;
					}
	    		}
	    	}
	    }
	    /* =============================================================================
			NEWSLETTER
		   ========================================================================== */
		#subscribe{
			width: 90%;
			height: 100%;
			padding: 5%;
		}
	}
}
