/* =============================================================================
	Style CSS by FatCat Online											
  	http://fatcatonline.net/ 
	Last Update May/03/13 
   ========================================================================== */

/* SASS Settings -- Delete this title when done ediitng
=============================*/  

/* Background */
$background:url('../img/bar-bg-active.png') repeat;
$backgroundRed:url('../img/bar-bg-active-red.png') repeat;
$backgroundBlack:url('../img/bar-bg-active-black.png') repeat;
$backgroundYellow:url('../img/bar-bg-active-green.png') repeat;
$backgroundBlue:url('../img/bar-bg-active-blue.png') repeat;
$backgroundOrange:url('../img/bar-bg-active-orange.png') repeat;
$mainGreen:#9fa326;

/* Font Color */ 
$fc-white: #efefef;
$fc-grey: #555555;

/* Line Color */
$lc-white: #858585;

/* Background Colors */
$bcRed:#841212;
$bcGray: #575757;

$leftIm:left!important;

/* General Settings
=============================*/
html,
body {
	background: #ffffff url('../img/body-bg.jpg') no-repeat center center fixed!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Divider for nav Bar */
.divider{
	height: 0;
	padding: 0;
	opacity: 0.3;
	display: block;
	list-style: none;
	border-top: 1px solid;
	border-top-color: $lc-white;
}
.dividerVertical{
	opacity: 0.3;
	height: 70px;
	list-style: none;
	border-right: 1px solid $lc-white;
}
li{
	list-style-type: none;
}
a{
	color:inherit;
	text-decoration: none;
}
/* Keyframes Arrow animation (under "show" div)
=============================*/
// @keyframes fordward {
//   0% {margin: 0 0 0 0px;}
//   100% {margin: 0 0 0 90px;}
// }
@-webkit-keyframes fordward {
  0% {margin: 0 0 0 0px;}
  100% {margin: 0 0 0 90px;}
}
@-moz-keyframes fordward {
  0% {margin: 0 0 0 0px;}
  100% {margin: 0 0 0 90px;}
}
@-o-keyframes fordward {
  0% {margin: 0 0 0 0px;}
  100% {margin: 0 0 0 90px;}
}

/* Keyframes Fade In/Out Animation (under ".content" div) 
=============================*/
/* Fade In */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* Fade Out */
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Slide In Text Side Bar 
=============================*/
@keyframes slideIn {
  0% {margin: 0 0 0 -40px;}
  100% {margin: 0 0 0 0;}
}
@-webkit-keyframes slideIn {
  0% {margin: 0 0 0 -40px;}
  100% {margin: 0 0 0 0;}
}
@-moz-keyframes slideIn {
  0% {margin: 0 0 0 -40px;}
  100% {margin: 0 0 0 0;}
}
@-o-keyframes slideIn {
  0% {margin: 0 0 0 -40px;}
  100% {margin: 0 0 0 0;}
}
/* =============================================================================
	Container
   ========================================================================== */
.container{
	width: 960px; height: 100%;
}

/* =============================================================================
	Side Bar
   ========================================================================== */
.sideBar{
	width: 150px; height: 100%!important;
	position: fixed;
	// background: yellow;

	/* Logo */
	.logoarea{
		width: 150px; height: 168px;
		// float: left;
		background: $background;		
		.logo{
			width: inherit; height: inherit;
			background: $background;
			a{
				width: inherit; height: inherit;
				h1{
					margin: 0; padding: 0;
					width: inherit; height: inherit;
					display: block;
					text-indent: -99999em;
					background:url('../img/logo.png') no-repeat;
				}
			}
		}
	}

	#textActiveBar{
		width: 80px;
		margin:19px 0 0 0;
		float: right;
		overflow: hidden;
		// background: orange;
		ul{
			margin: 0; padding: 0;
			li{
				width: 80px; height: 70px;
				margin-bottom: 1px;
				color: $fc-white;
				line-height: 70px;
				text-align: center;
				// background: $background;
			}
			/* Li Active/Non Active */
			.liActive{
				visibility: visible;

				transition: all 0.1s ease-in-out;

				-webkit-animation-name: slideIn;
				-webkit-animation-duration: 0.3s;
				-webkit-animation-iteration-count: 1;
				-webkit-animation-delay: 0.0s;
				-webkit-animation-direction: alternate;
				-webkit-transition: all 0.1s ease-in-out;

				-moz-animation-name: slideIn;
				-moz-animation-duration: 0.3s;
				-moz-animation-iteration-count: 1;
				-moz-animation-delay: 0.0s;
				-moz-animation-direction: alternate;
				-moz-transition: all 0.1s ease-in-out;

				-o-animation-name: slideIn;
				-o-animation-duration: 0.3s;
				-o-animation-iteration-count: 1;
				-o-animation-delay: 0.0s;
				-o-animation-direction: alternate;
				-o-transition: all 0.1s ease-in-out;
			}
			.liNoActive{
				visibility: hidden;
			}
			/* Li Colors */
			#texthome{background: $background;}
			#textstore{background: $backgroundRed;}
			#textshows{background: $backgroundYellow;}
			#textabout{background: $backgroundBlue;}
			#textsubscribe{background: $backgroundOrange}
		}
	}

	/* Navigation Bar
	-------------------------*/
	.navBar{
		width: 70px;height: 100%;
		// float: left;
		background: $background;
		// background: red;
		ul{
			padding:0; margin:19px 0 0 0;
			.navButton{
				height: 70px;
			}
			li{
				width: 70px;
				list-style-type: none;

				&:hover {
					cursor: pointer;
					background: $background;
				}

				a{	
					display: block;
					width: inherit;
					height: inherit;
					text-indent: -999em;
				}

				.home  { background: url(../img/nav-icon-home.png) no-repeat center; }
				.store { background: url(../img/nav-icon-store.png) no-repeat center; }
				.shows { background: url(../img/nav-icon-shows.png) no-repeat center; }
				.about { background: url(../img/nav-icon-about.png) no-repeat center; }
				.subscribe { background: url(../img/nav-icon-newsletter.png) no-repeat center; }
			}
			.activeNav{
				background: $background;
			}
		}
	}

}

/* Link Up
-------------------------*/
.linkUp{
	bottom: 2%;
	display: none;
	position: fixed;
	.linkUpButton{
		a{
			img{
				width: 70px; height: 20px;
			}
		}
	}
}

/* =============================================================================
	Header
   ========================================================================== */
.header{
	width: 480px; height: 168px;
	margin:0 0 0 150px;
	background: $background;

	.feuturedArea{
		height: 130px;
		padding: 19px 0 0 0;
		// background: green;
		div{
			display: inline-block;
		}
		/* Bar */
		.separationBar{
			width: 1px; height: 130px;
			background: $lc-white;
			margin: 0 0 0 19px;
		}

		/* Video */
		.videoArea{
			width: 228px; height: 130px; 
			background: black;
			margin: 0 0 0 19px;
		}

		/* Video Info Area */
		.infoArea{
			width: 190px; height: 130px;
			margin: 0 0 0 10px;
			overflow: hidden;
			position: relative;
			vertical-align: top;
			// background: red;
		}

		/* Text */
		ul{
			height: 130px;
			padding: 0; margin: 0;
			list-style-type: none;
			vertical-align: middle;
			li{
				color: white;
			}
			.info{
				font-size: 29px;
			}
			.videolink{
				margin: 5px 0 0 0;
				font-size: 13px;
				a{
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

/* =============================================================================
	Content
   ========================================================================== */
.content{
	width: 780px;
	overflow: hidden;
	margin: 19px 0 0 169px;
	// background: yellow;

	.activeContent{
		display: block;

		-webkit-animation-name: fadeIn;
		-webkit-animation-duration: 0.8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.0s;
		-webkit-animation-direction: alternate;
		-webkit-transition: all 0.1s ease-in-out;

		-moz-animation-name: fadeIn;
		-moz-animation-duration: 0.8s;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.0s;
		-moz-animation-direction: alternate;
		-moz-transition: all 0.1s ease-in-out;

		-o-animation-name: fadeIn;
		-o-animation-duration: 0.8s;
		-o-animation-iteration-count: 1;
		-o-animation-delay: 0.0s;
		-o-animation-direction: alternate;
		-o-transition: all 0.1s ease-in-out;

		animation:fadeIn 0.5s 1;
		transition: all 0.1s ease-in-out;
	}

	.no-active{
		display: none;
		opacity: 0;

		-webkit-animation-name: fadeOut;
		-webkit-animation-duration: 0.8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.0s;
		-webkit-animation-direction: alternate;
		-webkit-transition: all 0.1s ease-in-out;

		-moz-animation-name: fadeOut;
		-moz-animation-duration: 0.8s;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.0s;
		-moz-animation-direction: alternate;
		-moz-transition: all 0.1s ease-in-out;

		-o-animation-name: fadeOut;
		-o-animation-duration: 0.8s;
		-o-animation-iteration-count: 1;
		-o-animation-delay: 0.0s;
		-o-animation-direction: alternate;
		-o-transition: all 0.1s ease-in-out;

		animation:fadeOut 0.5s 1;
		transition: all 0.1s ease-in-out;
	}
	
	/* Search Bar
	-------------------------*/
	.searchBar{
		width: 300px; height: 70px;
		margin: 0 0 0 19px;
		// background: green;
		float: $leftIm;

		.searchForm{
			width: 300px;
			height: 70px;
			position: relative;

			.searchInput{
				width: 300px;
				border: none;
				height: 100%;
				color: $fc-grey;
				font-size: 16px;
				padding: 0 60px 0 20px;	
				font-family: 'Raleway', arial , sans-serif;font-weight: 100;			
			}
			.searchInput:focus{
				outline: none;
			    border-color: #999999;
			   	-webkit-box-shadow: 0 0 5px #999999;
		           -moz-box-shadow: 0 0 5px #999999;
			    	    box-shadow: 0 0 5px #999999;
			}
			.searchIcon{
				z-index: 2;
				width: 10px; height: inherit;
				padding: 0px 30px;
				position: absolute;
				right: 0;
				top: 0;
				border: none!important;
				outline: none!important;
				background:white url('../img/icon-search.png') no-repeat center;
			}
		}
	}

	/* =============================================================================
		HOME
	   ========================================================================== */
	#home{
		width: 200%;
		padding: 0 0 20px 0;
		overflow-x: hidden;

		/* Social Sub Nav
		-------------------------*/
		.socialFeedBar{
			float: left;
			ul{	
				margin: 0; padding: 0;
				width: 461px; height: 70px;
				list-style-type: none;
				background: $background;
				li{
					float: $leftIm;
					height: inherit;
					a{
						width: 76px; height:inherit; 
						outline: none;
						float: $leftIm;
						vertical-align: middle;
						img{
							margin: 0 auto;
							padding: 30% 0;
							display: block;
						}
					}
					a:hover, .active{
						outline: none;
						background: $background;
					}
				}
			}
		}
		
		/* Social Feed Area
		-------------------------*/
		.bloglist{
			width: 50%;
			float: left;
			overflow-x: hidden;
			margin: 0; padding: 0;

			.socialFeedArea{
				ul{
					width: 105%;
					float: left;
					margin: 0; padding: 0;
					overflow: hidden;
					list-style-type: none;
					li{
						margin: 20px 0 0 0;
						overflow: hidden;

						a{
							font-size: 11px;
							color: #ccc;
							opacity: 1;
						}
						.mainContentEffect{
							/* linear */
							-webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
							   -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
							    -ms-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
							     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
							        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);

							&:hover{
								opacity: .7;
							}
						}
					}

					.feedBar{
						height: 45px;
						display: block;
						bottom: 0;
						position: absolute;
						background: $background;
						line-height: 45px;

						&:before {
							content: "";
							width: 29px; height: 25px;
							bottom: 6px; right: 3px;
							display: block;
							position: absolute;
							background-size: 80%!important;
						}
					}

					// Icons Feed Back
					.facebook{
						.feedBar:before{
							background: url('../img/media-icon-facebook.png') no-repeat;
						}
					}
					.blog{
						.feedBar:before{
							background: url('../img/media-icon-blog.png') no-repeat;
						}
					}
					.twitter{
						.feedBar:before{
							background: url('../img/media-icon-twitter.png') no-repeat;
						}
					}
					.instagram{
						.feedBar:before{
							background: url('../img/media-icon-instagram.png') no-repeat;
						}
					}

					// Video Feed
					.video{
						.play{
							bottom: 50%; left: 37%;
							position: absolute;
						}
						.videoImage{
							background: black;
							padding-bottom: 100%;
							img{
								width: 100%!important;
							}
						}
					}

					// Style for Feed images
					.verticalImage{
						a{
							img{width: 100%;}
						}
					}
					.horizontalImage{
						a{
							img{height: 100%;}
						}
					}

					// Style for Boxes
					.small, .smallBorder, .big {
						word-wrap: break-word;
						background: $background;
						background-color: black;
					}
					.small{
						width: 140px; height: 140px;

						.feedBar{
							width: 100%;

							&:before {
								bottom: 6px; right: 8px;
							}
						}
					}
					.smallBorder{
						width: 120px; height: 120px;
						padding: 10px;

						.feedBar{
							width: 100%;

							&:before {
								bottom: 6px; right: 8px;
							}
						}
					}
					.big{
						width: 300px; height: 300px;

						.feedBar{
							width: 96.5%;
							padding-left: 3.5%;
						}
					}
				}
			}
		}
	} /* End Home */

	/* =============================================================================
		STORE
	   ========================================================================== */
	#store{
		width: 100%;

		/* Shop Sub Nav
		-------------------------*/
		.shopBar{
			float: left;
			width: 461px;

			div{
				float: left;
				ul{	
					margin: 0; padding: 0;
					width: 337px; height: 70px;
					list-style-type: none;
					background: $background;
					
					li{
						float: $leftIm;
						text-align: center;
						line-height: 70px;
						vertical-align: middle;

						a{
							height:inherit; 
							float: $leftIm;
							color: #ffffff;
							font-size: 13px;
							text-decoration: none;
						}
						a:hover, .active{
							background: $background;
						}
						.productbb{
							width: 108px;
						}
						.cartbb{
							width: 81px;
						}
						.itemsbb{
							width: 145px;
						}
					}
				}
			}
				
			.checkOutul{
				width: 124px; height: 70px;
				background: $backgroundRed;

				.checkoutbb{
					width: 124px; height: 70px;
					float: left;
					color: #ffffff;	
					font-size: 13px;				
					line-height: 70px;
					text-align: center;
					text-decoration: none;
					vertical-align: middle;
				}
				a:hover{
						background: $backgroundRed;
					}
			}
		}

		/* Products List Area
		-------------------------*/
		.productsListMainArea{
			width: 100%;
			margin: 20px 0 0 0;
			float: left;

			ul{
				padding: 0; margin: 0;
			}
			
			/* Product Tree */
			.productTree{
				font-size: 13px;
				
				li, span{
					color: $fc-grey;
					display:inline-block; 
					list-style-type:none;
					a{
						color: $fc-grey;
						text-decoration: none;
					}
				}
			}

			/* Product Area */
			.productsArea{
				margin: 20px 0 0 0;

				.allProducts{
					// display: none;
					.oddItem{
						margin: 0 20px 0 0;
					}
					li{
						width: 380px; height: 380px;
						margin: 0 0 20px 0;
						float: left;
						background: white;
						position: relative;
						list-style-type: none;
						.productInfo{
							position: absolute;
							bottom: 0; right: 0;
							.imgProduct{
								width: 380px; height: 380px;
								bottom: 0; 
								z-index: 1;
								border: none;
								position: absolute;
							}
							.imgProduct:hover{
								opacity: 0.8;
							}
							div{
								z-index: 2;
								position: relative;
							}
							.price{
								width: 137px; height: 72px;
								margin: 0 0 20px 0;
								float: right;
								color: #ffffff;
								font-size: 29px;
								line-height: 72px;
								text-align: center;
								background: $backgroundBlack;
							}
							.productBottomBar{
								width: 380px; height: 45px;
								span{
									display: inline-block;
									float: left;
								}
								.productName{
									padding: 0 0 0 20px;
									color:#ffffff;
									line-height: 45px;
									width: 315px; height: inherit;
									background: $backgroundBlack;
								}
								.productLink{
									width: 45px; height: inherit;
									// background: gray;
									a{
										width: inherit; height: inherit;
										display: block;
										background:$bcGray url('../img/icon-eye-product.png') no-repeat center;
										background-size: 55%;
									}
									a:hover{
										background:$bcGray url('../img/icon-eye-productAnim.gif') no-repeat center;
										background-size: 55%;
									}
								}
							}
						}
					}
				}

				/* Single Product Page */
				.singleProductContainer{
					display: none;
				
					.singleProduct{
						float: left;

						.productBig{
							width: 461px; height: 461px;
							margin: 0 0 10px 0;
							background: #ffffff;
							li{
								width: inherit; height: inherit;
								a{
									width: inherit; height: inherit;
									img{
										width: inherit; height: inherit;
									}
								}
							}
						}
						.productSmall{
							margin: 0 0 20px 0;
							.allbutlast{
								margin: 0 9px 0 0;
							}
							li{
								display: inline-block;
								a{
									img{
										width: 60px; height: 60px;
									}
								}
							}
						}
					}
					
					/* Product Info Single Page */
					.productInfoSinglePage{
						width: 300px;
						float: right;
						background: $background;
						.infoContainer{
							color: #ffffff;
							padding: 20px;
							.productTitle{
								padding: 0;margin: 0 0 10px 0;
								font-size: 24px;
							}
							.line{
								width: 40%; height: 0;
								padding: 0;
								display: block;
								list-style: none;
								border-top: 1px solid;
								border-top-color: $lc-white;
							}
							.productPrice{
								width: inherit;
								margin: 35px 0 35px 33px;
								display: block;
								font-size: 29px;
							}
							.info{
								font-size: 13px;
							}
							ul{
								margin: 20px 0 0 0;
								li{
									margin: 0 0px 0 0;
									display: inline-block;
									p{
										margin: 0 0 15px 0; padding: 0;
										font-size: 13px;
									}
									.size{
										width: 175px; height: 35px;
										margin: 0 20px 0 0;
										padding: 0 14px;
										display: block;
										font-size: 13px;
										option{
										font-size: 13px;
										}
									}
									.qty{
										width: 60px; height: 35px;
										padding: 0 0 0 16px;
										display: block;
										font-size: 13px;
									}
								}
							}
							.addCartSpace{
								.addToCart{
									width: 120px; height: 45px;
									margin: 32px 0 0 0;
									display: block;
									line-height: 45px;
									background: $bcRed;
									text-align: center;
								}
							}
						}
					}
				} /* End singleProductContainer */
			}
		}

	} /* End Store */

	/* =============================================================================
		SHOWS
	   ========================================================================== */
	#shows{
		// display: none;
		// background: green;
		width: 200%;
		padding: 0 0 20px 0;
		overflow-x: hidden;
		.showlist{
			width: 50%;
			float: left;
			margin: 0; padding: 0;
			li{
				margin: 0 0 23px 0;
				color: white;
				list-style-type: none;
				div{
					padding: 0; margin: 0;
					vertical-align: top;
					display: inline-block;
				}
				.date{
					width: 140px; height: 140px;
					line-height: 30px;
					position: relative;
					text-align: center;
					vertical-align: middle;
					background: $backgroundYellow;
					.dateContainer{
						padding: 30px 0 0 0;
					}
					.month{
						font-size: 34.46px;
					}
					.day{
						font-size: 59.6px;
					}
				}
				.place{
					width: 615px; height: 140px;
					margin: 0 0 0 20px;
					background: $background;
					.namePlace{
						font-size: 29px;
						margin: 0 0 0 30px;
						line-height: 135px;
					}

					.button{
						width: 140px; height: 140px;
						float: right;
						// padding: 32px 0 0 0;
						text-align: center;
						cursor: pointer;
						overflow: hidden;
						background: $background;
						img{
							padding: 24% 0;
						}
					}
					/* HOVER ON */
					.namePlace:hover ~ .button a, .button:hover a{
						margin: 0 0 0 -85px;
						transition: all 0.1s ease-in-out;

						-webkit-animation-name: fordward;
						-webkit-animation-duration: 0.3s;
						-webkit-animation-iteration-count: 1;
						-webkit-animation-delay: 0.0s;
						-webkit-animation-direction: alternate;
						-webkit-transition: all 0.1s ease-in-out;

						-moz-animation-name: fordward;
						-moz-animation-duration: 0.3s;
						-moz-animation-iteration-count: 1;
						-moz-animation-delay: 0.0s;
						-moz-animation-direction: alternate;
						-moz-transition: all 0.1s ease-in-out;

						-o-animation-name: fordward;
						-o-animation-duration: 0.3s;
						-o-animation-iteration-count: 1;
						-o-animation-delay: 0.0s;
						-o-animation-direction: alternate;
						-o-transition: all 0.1s ease-in-out;
					}
				}
			}
		}

	} /* End Shows */

	/* =============================================================================
		SINGLE PAGE
	   ========================================================================== */
	#about { width: 100%; }

	#about, #blogsingle, #showsingle{
		background: $background;
		.aboutContainer{
			width: 95%;
			padding: 2.5%;
			color: #ffffff;
			.aboutTitle{
				font-size: 29px;
				margin: 0 0 15px 0;
				padding: 25px 0 0 0;
			}
			.aboutImage{
				width: 740px; height: 358px;
				margin: 20px 0;
				background: #366c9a;
			}
			.aboutText{
				width: 100%;
				padding: 2.5% 0 2.5% 0;
				font-size: 13px;
				line-height: 23px;
				div{
					display: inline-block;
				}
				img {
					width: 100%;
				}
				.columText{
					width: 47.5%;
					padding: 0 2.5% 0 0;
					float: left;
				}
			}
		}
	}

	#blogsingle,
	#showsingle{
		width: 50%;
		float: left;
		margin: 0; padding: 0;
		.back {
			color: #ccc;
			line-height: 45px;
			padding: 10px 15px 10px 15px;
			background: $backgroundYellow;
			&:hover {
				background: $backgroundBlack;
			}
		}
	}
	#blogsingle, .bloglist,
	#showsingle, .showlist,
	.back{
		/* ease-out */
		-webkit-transition: all 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		   -moz-transition: all 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		    -ms-transition: all 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		     -o-transition: all 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
		        transition: all 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
	} /* End single */

	/* =============================================================================
		NEWSLETTER
	   ========================================================================== */
}

/* =============================================================================
	Isotope
   ========================================================================== */
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



