/* =============================================================================
	Style CSS by FatCat Online											
  	http://fatcatonline.net/ 
	Last Update May/03/13 
   ========================================================================== */
/* SASS Settings -- Delete this title when done ediitng
=============================*/
/* Background */
/* Font Color */
/* Line Color */
/* General Settings
=============================*/
html,
body {
  width: 100% !important;
  height: 100% !important;
  background: black url("../img/body-bg.jpg") no-repeat top left fixed !important;
  background-size: 100% !important; }

/* Divider for nav Bar */
.divider {
  height: 0;
  padding: 0;
  opacity: 0.3;
  list-style: none;
  border-top: 1px solid;
  border-top-color: #858585; }

.dividerVertical {
  opacity: 0.3;
  height: 70px;
  list-style: none;
  border-right: 1px solid #858585; }

/* =============================================================================
	Container
   ========================================================================== */
.container {
  width: 960px;
  height: 100%; }

/* =============================================================================
	Side Bar
   ========================================================================== */
.sideBar {
  width: 150px;
  height: 100% !important;
  float: left;
  position: fixed;
  /* Logo */
  /* Navigation Bar
  -------------------------*/ }
  .sideBar .logoarea {
    width: 150px;
    height: 168px;
    background: url("../img/bar-bg-active.png") repeat; }
    .sideBar .logoarea .logo {
      background: url("../img/bar-bg-active.png") repeat; }
      .sideBar .logoarea .logo h1 {
        margin: 0;
        padding: 0;
        width: 150px;
        height: 168px;
        display: block;
        text-indent: -99999em;
        background: url("../img/logo.png"); }
  .sideBar .navBar {
    width: 70px;
    height: 100%;
    background: url("../img/bar-bg-active.png") repeat; }
    .sideBar .navBar ul {
      padding: 0;
      margin: 19px 0 0 0; }
      .sideBar .navBar ul li {
        width: 70px;
        list-style-type: none; }
      .sideBar .navBar ul li:hover {
        background: url("../img/bar-bg-active.png") repeat; }

/* =============================================================================
	Header
   ========================================================================== */
.header {
  width: 480px;
  height: 168px;
  margin: 0 0 0 150px;
  background: url("../img/bar-bg-active.png") repeat; }
  .header .feuturedArea {
    height: 130px;
    padding: 19px 0 0 0;
    /* Bar */
    /* Video */
    /* Video Info Area */
    /* Text */ }
    .header .feuturedArea div {
      display: inline-block; }
    .header .feuturedArea .separationBar {
      width: 1px;
      height: 130px;
      background: #858585;
      margin: 0 0 0 19px; }
    .header .feuturedArea .videoArea {
      width: 228px;
      height: 130px;
      background: black;
      margin: 0 0 0 19px; }
    .header .feuturedArea .infoArea {
      width: 190px;
      height: 130px;
      margin: 0 0 0 10px;
      overflow: hidden;
      position: relative;
      vertical-align: top; }
    .header .feuturedArea ul {
      height: 130px;
      padding: 0;
      margin: 0;
      list-style-type: none;
      vertical-align: middle; }
      .header .feuturedArea ul li {
        color: white; }
      .header .feuturedArea ul .info {
        font-size: 29px; }
      .header .feuturedArea ul .videolink {
        margin: 5px 0 0 0;
        font-size: 13px; }
        .header .feuturedArea ul .videolink a {
          color: white;
          text-decoration: none; }

/* =============================================================================
	Content
   ========================================================================== */
.content {
  width: 780px;
  margin: 19px 0 0 169px;
  /* Search Bar
  -------------------------*/
  /* HOME
  =============================*/
  /* End Home */
  /* STORE
  =============================*/
  /* End Store */
  /* SHOWS
  =============================*/
  /* End Shows */
  /* ABOUT
  =============================*/
  /* End About */ }
  .content .searchBar {
    width: 300px;
    height: 70px;
    margin: 0 0 0 19px;
    float: left !important; }
    .content .searchBar .searchForm {
      height: 70px; }
      .content .searchBar .searchForm .searchInput {
        width: 220px;
        border: none;
        height: 100%;
        color: #555555;
        font-size: 16px;
        position: relative;
        padding: 0 60px 0 20px; }
      .content .searchBar .searchForm .searchInput:focus {
        outline: none;
        border-color: #999999;
        -webkit-box-shadow: 0 0 5px #999999;
        -moz-box-shadow: 0 0 5px #999999;
        box-shadow: 0 0 5px #999999; }
      .content .searchBar .searchForm .searchIcon {
        z-index: 1;
        width: 10px;
        height: inherit;
        margin: 0 0 0 240px;
        padding: 0px 30px;
        float: right;
        position: absolute;
        border: none !important;
        outline: none !important;
        background: white url("../img/icon-search.png") no-repeat center; }
  .content .home {
    display: none;
    width: 100%;
    /* Social Sub Nav
    -------------------------*/
    /* Social Feed Area
    -------------------------*/ }
    .content .home .socialFeedBar {
      float: left; }
      .content .home .socialFeedBar ul {
        margin: 0;
        padding: 0;
        width: 461px;
        height: 70px;
        list-style-type: none;
        background: url("../img/bar-bg-active.png") repeat; }
        .content .home .socialFeedBar ul li {
          float: left !important; }
          .content .home .socialFeedBar ul li a {
            width: 76px;
            height: inherit;
            vertical-align: middle;
            float: left !important; }
            .content .home .socialFeedBar ul li a img {
              margin: 0 auto;
              padding: 30% 0;
              display: block; }
          .content .home .socialFeedBar ul li a:hover, .content .home .socialFeedBar ul li .active {
            background: url("../img/bar-bg-active.png") repeat; }
    .content .home .socialFeedArea {
      width: 100%; }
      .content .home .socialFeedArea ul {
        width: 105%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none; }
        .content .home .socialFeedArea ul li {
          margin: 20px 20px 0 0;
          overflow: hidden; }
        .content .home .socialFeedArea ul .small {
          width: 140px;
          height: 140px;
          background: url("../img/bar-bg-active.png") repeat; }
        .content .home .socialFeedArea ul .big {
          width: 300px;
          height: 300px;
          background: url("../img/bar-bg-active.png") repeat; }
  .content .store {
    width: 100%;
    /* Shop Sub Nav
    -------------------------*/
    /* Products List Area
    -------------------------*/ }
    .content .store .shopBar {
      float: left;
      width: 461px; }
      .content .store .shopBar div {
        float: left; }
      .content .store .shopBar ul {
        margin: 0;
        padding: 0;
        width: 337px;
        height: 70px;
        list-style-type: none;
        background: url("../img/bar-bg-active.png") repeat; }
        .content .store .shopBar ul li {
          float: left !important;
          text-align: center;
          line-height: 70px;
          vertical-align: middle; }
          .content .store .shopBar ul li a {
            height: inherit;
            float: left !important;
            color: #ffffff;
            font-size: 13px;
            text-decoration: none; }
          .content .store .shopBar ul li a:hover, .content .store .shopBar ul li .active {
            background: url("../img/bar-bg-active.png") repeat; }
          .content .store .shopBar ul li .productbb {
            width: 108px; }
          .content .store .shopBar ul li .cartbb {
            width: 81px; }
          .content .store .shopBar ul li .itemsbb {
            width: 145px; }
      .content .store .shopBar .checkOutul {
        width: 124px;
        height: 70px;
        background: url("../img/bar-bg-active-red.png") repeat; }
        .content .store .shopBar .checkOutul .checkoutbb {
          width: 124px;
          height: 70px;
          float: left;
          color: #ffffff;
          font-size: 13px;
          line-height: 70px;
          text-align: center;
          text-decoration: none;
          vertical-align: middle; }
        .content .store .shopBar .checkOutul a:hover {
          background: url("../img/bar-bg-active-red.png") repeat; }
    .content .store .productsListMainArea {
      width: 780px;
      height: 200px;
      margin: 20px 0 0 0;
      float: left;
      background: yellow; }
      .content .store .productsListMainArea .productTree li, .content .store .productsListMainArea .productTree span {
        display: list-item;
        list-style-type: none; }
  .content .shows {
    display: none;
    width: 100%; }
    .content .shows .showlist {
      margin: 0;
      padding: 0; }
      .content .shows .showlist li {
        margin: 0 0 23px 0;
        color: white;
        list-style-type: none; }
        .content .shows .showlist li div {
          padding: 0;
          margin: 0;
          vertical-align: top;
          display: inline-block; }
        .content .shows .showlist li .date {
          width: 140px;
          height: 140px;
          line-height: 25px;
          position: relative;
          text-align: center;
          vertical-align: middle;
          background: url("../img/bar-bg-active.png") repeat; }
          .content .shows .showlist li .date .dateContainer {
            margin: 30px 0 0 0; }
          .content .shows .showlist li .date .month {
            font-size: 34.46px; }
          .content .shows .showlist li .date .day {
            font-size: 59.6px; }
        .content .shows .showlist li .place {
          width: 615px;
          height: 140px;
          margin: 0 0 0 20px;
          background: url("../img/bar-bg-active.png") repeat; }
          .content .shows .showlist li .place .namePlace {
            font-size: 29px;
            margin: 0 0 0 30px;
            line-height: 135px; }
          .content .shows .showlist li .place .button {
            width: 140px;
            height: 140px;
            float: right;
            background: url("../img/bar-bg-active.png") repeat; }
  .content .about {
    display: none;
    width: 100%;
    background: url("../img/bar-bg-active.png") repeat; }
    .content .about .aboutContainer {
      width: 740px;
      padding: 0 20px;
      color: #ffffff; }
      .content .about .aboutContainer .aboutTitle {
        font-size: 29px;
        margin: 0 0 15px 0;
        padding: 25px 0 0 0; }
      .content .about .aboutContainer .aboutImage {
        width: 740px;
        height: 358px;
        margin: 20px 0;
        background: #366c9a; }
      .content .about .aboutContainer .aboutText {
        width: 740px;
        padding: 0 0 20px 0;
        font-size: 13px;
        line-height: 23px; }
        .content .about .aboutContainer .aboutText div {
          display: inline-block; }
        .content .about .aboutContainer .aboutText .columText {
          width: 360px; }
        .content .about .aboutContainer .aboutText div:nth-child(2n+1) {
          margin: 0 17px 0 0; }

/* =============================================================================
	Isotope
   ========================================================================== */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/* =============================================================================
	Media Query's
   ========================================================================== */
@media (max-width: 780px) {
  .content {
    width: 480px; } }
