/* =============================================================================
Style CSS by FatCat											
	http://fatcatonline.net/
Last Update May/29/13 
========================================================================== */

/* SASS Settings -- Delete this title when done editing
=============================*/
/* Background */
/* Font Color */
/* Line Color */
/* General Settings
=============================*/

/* Background */
$background:url('../img/bar-bg-active.png') repeat;
$backgroundRed:url('../img/bar-bg-active-red.png') repeat;
$mainGreen:#9fa326;

/* Font Color */ 
$fc-white: #efefef;
$fc-grey: #555555;

/* Line Color */
$lc-white: #858585;

$leftIm:left!important;

/* General Settings
=============================*/
html,
body {
	width:100%!important;
	height:100%!important;
	background: #000 url('../img/body-bg.jpg') no-repeat top left fixed!important;
	background-size:100%!important;
}

/* Divider for nav Bar */
.divider{
	height: 0;
	padding: 0;
	opacity: 0.3;
	list-style: none;
	border-top: 1px solid;
	border-top-color: $lc-white;
}
.dividerVertical{
	opacity: 0.3;
	height: 70px;
	list-style: none;
	border-right: 1px solid $lc-white;
}

/* =============================================================================
	Container
   ========================================================================== */
.container{
	width: 960px; height: 100%;
}

/* =============================================================================
	Side Bar
   ========================================================================== */
.sideBar{
	width: 150px; height: 100%!important;
	float: left;
	position: fixed;
	// background: yellow;

	/* Logo */
	.logoarea{
		width: 150px; height: 168px;
		// float: left;
		background: $background;		
		.logo{
			background: $background;
			h1{
				margin: 0; padding: 0;
				width: 150px; height: 168px;
				display: block;
				text-indent: -99999em;
				background:url('../img/logo.png');
			}
		}
	}

	/* Navigation Bar
	-------------------------*/
	.navBar{
		width: 70px;height: 100%;
		background: $background;
		// background: red;
		ul{
			padding:0; margin:19px 0 0 0;
			li{
				width: 70px;
				list-style-type: none;
			}
			li:hover{
				background: $background;
			}
		}
	}
}

/* =============================================================================
	Header
   ========================================================================== */
.header{
	width: 480px; height: 168px;
	margin:0 0 0 150px;
	background: $background;

	.feuturedArea{
		height: 130px;
		padding: 19px 0 0 0;
		// background: green;
		div{
			display: inline-block;
		}
		/* Bar */
		.separationBar{
			width: 1px; height: 130px;
			background: $lc-white;
			margin: 0 0 0 19px;
		}

		/* Video */
		.videoArea{
			width: 228px; height: 130px; 
			background: black;
			margin: 0 0 0 19px;
		}

		/* Video Info Area */
		.infoArea{
			width: 190px; height: 130px;
			margin: 0 0 0 10px;
			overflow: hidden;
			position: relative;
			vertical-align: top;
			// background: red;
		}

		/* Text */
		ul{
			height: 130px;
			padding: 0; margin: 0;
			list-style-type: none;
			vertical-align: middle;
			li{
				color: white;
			}
			.info{
				font-size: 29px;
			}
			.videolink{
				margin: 5px 0 0 0;
				font-size: 13px;
				a{
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

/* =============================================================================
	Content
   ========================================================================== */
.content{
	width: 780px;
	margin: 19px 0 0 169px;
	// background: yellow;
	
	/* Search Bar
	-------------------------*/
	.searchBar{
		width: 300px; height: 70px;
		margin: 0 0 0 19px;
		// background: green;
		float: $leftIm;

		.searchForm{
			height: 70px;

			.searchInput{
				width: 220px;
				border: none;
				height: 100%;
				color: $fc-grey;
				font-size: 16px;
				position: relative;
				padding: 0 60px 0 20px;				
			}
			.searchInput:focus{
				outline: none;
			    border-color: #999999;
			   	-webkit-box-shadow: 0 0 5px #999999;
		           -moz-box-shadow: 0 0 5px #999999;
			    	    box-shadow: 0 0 5px #999999;
			}
			.searchIcon{
				z-index: 1;
				width: 10px; height: inherit;
				margin: 0 0 0 240px; padding: 0px 30px;
				float: right;
				position: absolute;
				border: none!important;
				outline: none!important;
				background:white url('../img/icon-search.png') no-repeat center;
			}
		}
	}

	/* HOME
	=============================*/
	.home{
		// display: none;
		width: 100%;

		/* Social Sub Nav
		-------------------------*/
		.socialFeedBar{
			float: left;
			ul{	
				margin: 0; padding: 0;
				width: 461px; height: 70px;
				list-style-type: none;
				background: $background;
				li{
					float: $leftIm;
					a{
						width: 76px; height:inherit; 
						vertical-align: middle;
						float: $leftIm;
						img{
							margin: 0 auto;
							padding: 30% 0;
							display: block;
						}
					}
					a:hover, .active{
						background: $background;
					}
				}
			}
		}

		/* Social Feed Area
		-------------------------*/
		.socialFeedArea{
			width: 100%;
			// background: gray;
			ul{
				width: 105%;
				margin: 0; padding: 0;
				overflow: hidden;
				list-style-type: none;
				// background: yellow;
				li{
					position: relative;
					margin: 20px 20px 0 0;
					overflow: hidden;
					a{
						font-size: 13px;
						color: white;
						opacity: 1;

						/* linear */
						-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
						   -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
						    -ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
						     -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
						        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);

						&:hover{
							opacity: .7;
						}
					}
				}
				.small{
					width: 140px; height: 140px;
					background: $background;
				}
				.big{
					width: 300px; height: 300px;
					background: black;
				}
				.title{
					width:100%;
					position: absolute;
					bottom: 0; left: 0;
					padding: 10px;
					background: $background;
				}
			}
		}
	} /* End Home */

	/* STORE
	=============================*/
	.store{
		display: none;
		width: 100%;

		/* Shop Sub Nav
		-------------------------*/
		.shopBar{
			float: left;
			width: 461px;
			// background: red;

			div{
				float: left;
			}
			ul{	
				margin: 0; padding: 0;
				width: 337px; height: 70px;
				list-style-type: none;
				background: $background;
				
				li{
					float: $leftIm;
					text-align: center;
					line-height: 70px;
					vertical-align: middle;

					a{
						height:inherit; 
						float: $leftIm;
						color: #ffffff;
						font-size: 13px;
						text-decoration: none;
					}
					a:hover, .active{
						background: $background;
					}
					.productbb{
						width: 108px;
					}
					.cartbb{
						width: 81px;
					}
					.itemsbb{
						width: 145px;
					}
				}
			}
			.checkOutul{
				width: 124px; height: 70px;
				background: $backgroundRed;

				.checkoutbb{
					width: 124px; height: 70px;
					float: left;
					color: #ffffff;	
					font-size: 13px;				
					line-height: 70px;
					text-align: center;
					text-decoration: none;
					vertical-align: middle;
				}
				a:hover{
						background: $backgroundRed;
					}
			}
		}

		/* Products List Area
		-------------------------*/
		.productsListMainArea{
			width: 780px; height: 200px;
			margin: 20px 0 0 0;
			float: left;
			background: yellow;

			.productTree{
				li, span{display:list-item; list-style-type: none; }
			}
		}

	} /* End Store */

	/* SHOWS
	=============================*/
	.shows{
		display: none;
		// background: green;
		width: 100%;
		.showlist{
			margin: 0; padding: 0;
			li{
				margin: 0 0 23px 0;
				color: white;
				list-style-type: none;
				div{
					padding: 0; margin: 0;
					vertical-align: top;
					display: inline-block;
				}
				.date{
					width: 140px; height: 140px;
					line-height: 25px;
					position: relative;
					text-align: center;
					vertical-align: middle;
					background: $background;
					.dateContainer{
						margin: 30px 0 0 0;
					}
					.month{
						font-size: 34.46px;
					}
					.day{
						font-size: 59.6px;
					}
				}
				.place{
					width: 615px; height: 140px;
					margin: 0 0 0 20px;
					background: $background;
					.namePlace{
						font-size: 29px;
						margin: 0 0 0 30px;
						line-height: 135px;
					}
					.button{
						width: 140px; height: 140px;
						float: right;
						background: $background;
					}
				}
			}
		}
	} /* End Shows */

	/* ABOUT
	=============================*/
	.about{
		display: none;
		width: 100%;
		background: $background;
		.aboutContainer{
			width: 740px;
			padding: 0 20px;
			color: #ffffff;
			.aboutTitle{
				font-size: 29px;
				margin: 0 0 15px 0;
				padding: 25px 0 0 0;
			}
			.aboutImage{
				width: 740px; height: 358px;
				margin: 20px 0;
				background: #366c9a;
			}
			.aboutText{
				width: 740px;
				padding: 0 0 20px 0;
				font-size: 13px;
				line-height: 23px;
				div{
					display: inline-block;
				}
				.columText{
					width: 360px;
					// background: red;
				}
				div:nth-child(2n+1){
					margin: 0 17px 0 0;
				}
			}
		}
	} /* End About */
}

/* =============================================================================
	Isotope
   ========================================================================== */
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* =============================================================================
	Media Query's
   ========================================================================== */
@media (max-width: 780px) {
	.content{
		width: 480px;
	}
}
